<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NumTrack</title>
    <!-- CSS -->
    <link rel="stylesheet" href="./css/global.css">
    <!-- SEO -->
    <meta name="description"
        content="NumTrack ist eine einfache und moderne Counter-Tracking-App, mit der Sie mühelos Zähler erstellen, verwalten und anpassen können. Erstellen, erhöhen oder verringern Sie Counter ganz einfach. Bleiben Sie organisiert und behalten Sie wichtige Zahlen im Auge!">
    <meta name="keywords"
        content="counter app, tally counter, zahl tracker, zählen app, task tracker, fortschritt tracker, NumTrack, digital counter, simple counter app, productivity tool, count manager">
</head>

<body>
    <noscript>Sie müssen JavaScript aktivieren um diese App auszuführen.</noscript>
    <!-- Vue.js from "https://unpkg.com/vue@3/dist/vue.global.js" -->
    <script src="./assets/vue.global.js"></script>

    <!-- App -->
    <div id="app">
        <!-- Header -->
        <header>NumTrack</header>
        <main>
            <!-- list of counters -->
            <transition-group name="fade" class="counter-list" tag="ul">
                <li v-for="counter in counters" :key="counter" class="counter">
                    <b class="counter__label">{{counter.name}}:</b>
                    <span class="counter__control">
                        <button @click="decrease(counter)" title="Verringern" aria-label="Verringern"><svg
                                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M5 12h14" />
                            </svg></button>
                        <span>{{counter.value}}</span>
                        <button @click="increase(counter)" title="Erhöhen" aria-label="Erhöhen"><svg
                                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                            </svg>
                        </button>
                    </span>
                    <span>
                        <button title="Umbenennen" aria-label="Umbenennen" @click="rename(counter)"><svg
                                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="#000">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                            </svg></button>
                        <button title="Löschen" aria-label="Löschen" @click="remove(counter)"><svg
                                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="#000">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                            </svg>
                        </button>
                    </span>
                </li>
            </transition-group>
            <transition name="fade">
                <span v-show="counters.length < 1" class="empty-list">Keine Counter verfügbar :(</span>
            </transition>

            <!-- add counter -->
            <form v-on:submit.prevent="addCounter" class="counter-form">
                <h2>Counter hinzufügen</h2>
                <label for="counterName">Name des Counters:</label>
                <input type="text" id="counterName" v-model="counterName" spellcheck="false" autocomplete="off" required
                    title="Name des Counters eingeben" class="text-field">
                <button type="submit" class="btn">Hinzufügen</button>
            </form>
        </main>
        <!-- Footer -->
        <footer>
            <span>&copy;2025 Felix Wrba</span>
            <h2>Einstellungen</h2>
            <div id="font-controller">
                <label for="font-control">Schriftgröße: </span>
                    <input type="range" id="font-control" v-model="fontSize" min="8" max="32">
            </div>
        </footer>
    </div>
    <!-- Vue -->
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    counters: JSON.parse(localStorage.getItem("counters")) || [],
                    counterName: "",
                    fontSize: +localStorage.getItem("fontSize") || "16",
                }
            },
            methods: {
                addCounter() {
                    // sanitize input
                    const name = this.counterName.trim()
                    this.counterName = ""
                    if (name === "") {
                        alert("Das Eingbefeld darf nicht leer sein.")
                        return false
                    }
                    // check if counter already exists
                    if (this.counters.filter(counter => counter.name === name)[0]) {
                        alert("Dieser Counter existiert bereits! Versuche es mit einem anderen Namen.")
                        return false
                    }
                    // push counter to counters
                    this.counters = [...this.counters, {
                        name: name,
                        value: 0,
                    }]
                },
                increase(counter) {
                    counter.value++
                },
                decrease(counter) {
                    if (counter.value > 0) {
                        counter.value--
                    }
                },
                remove(counter) {
                    const choice = window.confirm(`Willst du "${counter.name}" wirklich entfernen?`)
                    if (choice) {
                        this.counters = this.counters.filter(c => c !== counter)
                    }
                },
                rename(counter) {
                    const input = window.prompt("Gebe einen neuen Namen ein: ").trim()
                    if (input === "") {
                        alert("Das Eingabefeld darf nicht leer sein.")
                    }
                    counter.name = input
                },
            },
            watch: {
                // sync counters with localStorage
                counters: {
                    handler(newValue) {
                        localStorage.setItem("counters", JSON.stringify(newValue))
                    },
                    deep: true,
                },
                fontSize(newSize) {
                    localStorage.setItem("fontSize", newSize.toString())
                    document.body.style.setProperty("--default-scale", newSize + "px")
                }
            },
            mounted() {
                document.body.style.setProperty("--default-scale", this.fontSize + "px")
            }
        })
        app.mount("#app")
    </script>
</body>

</html>